<div class="user-container">
  <h2>Manage Users</h2>

  <div *ngIf="error$ | async as error" style="color: red">
    Error: {{ error }}
  </div>

  <form
    class="user-form"
    #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)"
    novalidate
  >
    <label for="name">Name:<span style="color: red">*</span></label>
    <input
      type="text"
      id="name"
      [(ngModel)]="user.name"
      name="name"
      required
      #name="ngModel"
    />
    <div
      *ngIf="name.invalid && (name.touched || userForm.submitted)"
      style="color: red"
    >
      Name is required
    </div>

    <label for="email">Email:<span style="color: red">*</span></label>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      name="email"
      required
      email
      #email="ngModel"
    />
    <div
      *ngIf="email.invalid && (email.touched || userForm.submitted)"
      style="color: red"
    >
      A valid email is required
    </div>

    <label for="password">Password:<span style="color: red">*</span></label>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
      minlength="6"
      #password="ngModel"
    />
    <div
      *ngIf="password.invalid && (password.touched || userForm.submitted)"
      style="color: red"
    >
      Password is required and must be at least 6 characters long
    </div>

    <div class="checkbox-label">
      <input
        type="checkbox"
        id="consent"
        [(ngModel)]="user.consentToStoreData"
        name="consentToStoreData"
        required
        #consentToStoreData="ngModel"
      />
      <label for="consent"
        >Consent to store data <span style="color: red">*</span></label
      >
    </div>
    <div
      *ngIf="
        consentToStoreData.invalid &&
        (consentToStoreData.touched || userForm.submitted)
      "
      style="color: red"
    >
      You must consent to store your data
    </div>

    <button type="submit" [disabled]="userForm.invalid" class="submit-button">
      Add User
    </button>
  </form>

  <div *ngIf="loading$ | async">Loading users...</div>

  <div class="user-list">
    <ul>
      <li *ngFor="let user of users$ | async">
        <span>{{ user.name }}</span>
        <small>{{ user.email }}</small>
      </li>
    </ul>
  </div>
</div>
